@media (min-width:576px) and (max-width:1199px){
    .banner{
        height: 560px;
    }
} 



@media (min-width:992px) and (max-width:1199px) 
{
    /* *banner starts */
    .banner h4{
        font-size: 24px;
    }
    .banner h1 {
        font-size: 56px;
        letter-spacing: 15px;
    }
    /* *banner ends */

    /* *services stars */
    .services .services_card .card_ctn{
        padding: 0 80px 0px 0px;
    }
    /* *services ends */
}





@media (min-width:768px) and (max-width:991px) {
    /* *nav starts */
    nav .menu ul li a{
        padding: 8px 0 !important;
    }
    /* *nav ends */

    /* *banner starts */
    .banner h4{
        font-size: 22px;
    }
    .banner h1 {
        font-size: 46px;
        letter-spacing: 10px;
    }
    .btn a{
        padding: 16px 30px;
    }
    /* *banner ends */

    /* *about_me starts */
    .about_me .about_card:nth-child(2){
        border: none;
    }
    .about_me .about_card{
        margin-bottom: 20px;
    }
    .about_me .about_paragraph p{
        margin: 0px 0px 100px 0px;
    }
     /* *about_me ends */

    /* *services stars */
    .services{
        background-image: none;
        background-color: #f0f0e8;
    }
    .services .left *{
        text-align: center;
    }
    .services .left .services_card .card_ctn{
        padding: 0;
    }
    /* *services ends */

    /* *my_work stars */
    .my_work p{
        margin: 0;
        margin-bottom: 50px;

    }
    /* *my_work ends */
}




@media (min-width:576px) and (max-width:767px){
    /* *nav starts */
    nav .menu ul li a{
        padding: 8px 0 !important;
    }
    /* *nav ends */

    /* *banner starts */

    .banner h4{
        font-size: 18px;
    }
    .banner h1 {
        font-size: 46px;
        letter-spacing: 5px;
    }
    .banner p{
        font-size: 16px;
    }
    /* *banner ends */

    /* *about_me starts */
    .about_me .about_card:nth-child(2){
        border: none;
    }
    .about_me .about_card{
        margin-bottom: 20px;
    }
    .about_me .about_paragraph p{
        margin: 0px 0px 100px 0px;
    }
    /* *about_me ends */

    /* *services stars */
    .services{
        background-image: none;
        background-color: #f0f0e8;
    }
    .services .left *{
        text-align: center;
    }
    .services .left .services_card .card_ctn{
        padding: 0;
    }
    .services .left .services_card:last-child .card_ctn p{
        margin-bottom: 0;
    }
    /* *services ends */

    /* *my_work stars */
    .my_work p{
        margin: 0;
        margin-bottom: 50px;
    }
    /* *my_work ends */
}





@media (min-width:320px) and (max-width:575px){
    /* *nav starts */
    nav{
        padding: 0 !important;
    }
    nav .menu ul li a{
        padding: 8px 0 !important;
    }
    /* *nav ends */

    /* *banner starts */
    .banner{
        height: 420px;
    }
    .banner h4{
        font-size: 16px;
    }
    .banner h1 {
        font-size: 26px;
        letter-spacing: 5px;
        margin:10px 0px;
        padding: 0;
    }
    .banner p{
        font-size: 14px;
    }
    .btn a{
        padding: 10px 20px;
        font-size: 13px;
    }
    .banner span img{
        margin: 30px 0;
    }
    /* *banner ends */
    /* *about_me starts */
    .about_me .about_card{
        border: none;
        border-bottom: 1px solid #d9dbdb;   
    }
    .about_me .about_paragraph p{
        margin: 0px 0px 50px 0px;
        font-size: 14px;
        line-height: normal;
        text-align: justify;
    }
    .about_me .about_paragraph p span{
        font-size: 18px;
    }
    .hedding h1{
        font-size: 26px;
    }
    .hedding span{
        margin: 15px 0;
    }
    .about_me{
        padding: 50px 0;
    }
    /* *about_me ends */

    /* *services stars */
    .services{
        padding: 50px 0;
        background-image: none;
        background-color: #f0f0e8;
    }
    .services .left *{
        text-align: center;
    }
    .services .left .services_card .card_ctn{
        padding: 0;
    }
    .services .left .services_card:last-child .card_ctn p{
        margin-bottom: 0;
    }
    /* *services ends */

    /* *my_work stars */
    .my_work{
        padding: 50px 0;
    }
    .my_work p{
        margin: 0;
        margin-bottom: 50px;
    }
    /* *my_work ends */
}